<h2>Reenviar email de confirmacion</h2>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => "form-stacked" }) do |f| %>
  <%= devise_error_messages! %>

	<%= f.input :email, :input_html => { :class => 'span3 required' } %>
  
	<%= f.button :submit, :class => 'btn', :value => "Reenviar confirmacion por email" %>
<% end %>

<%= render :partial => "devise/shared/links" %>