<% if user_signed_in? %>
	<div class = "pull-right">
		<p>
		 <b><%= link_to "Salir", destroy_user_session_path, :method => 'delete' %></b>
		</p>
	</div>
<% else %>
  
	<%= simple_form_for("user", :url => user_session_path, :html => { :class => "login"}) do |f| %>
	  	<%= f.input :email,:placeholder => "Email" , :label => "", :input_html => { :class => "input-small span3"}%>
			<%= f.button :submit, :class => 'btn info', :value => "Enviar" %>
		  <%= f.input :password, :placeholder => "Clave", :label => "", :input_html => { :class => "input-small"} %>
			<% if devise_mapping.rememberable? -%>
		  <%= f.input :remember_me, :as => :boolean %>
		  <% end -%>
			
	<% end %>
			<a class="btn danger large" id="rmodal">Registrate</a>

<% end %>
