
<% if !user_signed_in? %>
	<% title "Embajadores Del Voto - Vota fuera de Venezuela" %>
	<div id="left">
		<%= render 'shared/register' %>
	</div>
	
	<div id="rightMap">
		<h3> Hasta ahora somos:</h3>
		<div id="thermometer_container">
			<p> <%= @registered_count %> Registrados </br> <%= @embajador_count %> Embajadores </br> 2000 es la meta</p>			
			<div class="bandera">
			  <em id="inv" style="width:<%= (@registered_count/2000.0)*100.0 %>%;"></em>
			  <em id="comf" style="width:<%= (@embajador_count/2000.0)*100.0 %>%;"></em>
			  <em id="emb" style="width:100%;"></em>
			</div>
		</div>
		<h3> En 7 estados</h3>
		<span id="map"><%= image_tag "map.png" %> <span>
	</div>
	
<% else %>	
	<% title "Embajadores Del Voto" %>
	<div id="profile">
		<div id="invite_form">
			<h5>Invita a un amigo para acumular puntos</h5>
			<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, :class => "inline"} do |f| %>
			  <%= devise_error_messages! %>
		
			  <p><%= f.label :name %></br>
			  <%= f.text_field :name , :class => "span2 required"%></p>

				<p><%= f.label :lastName %></br>
			  <%= f.text_field :lastName, :class => "span2 required" %></p>

				<p><%= f.label :email %></br>
			  <%= f.text_field :email, :class => "span3 email required" %></p>

			  <p><%= f.submit "Enviar", :class => "btn"  %></p>
			
			<% end %>			

		</div><!-- invite_form -->
		
		<div class="floatleft rmarg">
			<h5>Mis invitados</h5>
			<table id="invite_table" class="condensed-table zebra-striped bordered-table">
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<th>Status</th>
				</tr>
				<% @invites.each do |invite| %> 
					<tr>
						<td><%= invite.name %> <%= invite.lastName %></td>
						<td><%= invite.email %></td>
						<td>
							<% if invite.comfirmed %>
							
								<% if invite.embajador %>
									Embajador
								<% else %>
									Confirmado
								<% end %>
								
							<% else%>
							
								<% if invite.city == nil %>
									Invitado <%= link_to('Reenviar', user_invitation_path(:user => {:name => invite.name, :lastName => invite.lastName, :email => invite.email }), :method => "post") %>
								<% else%>
									Registrado
								<% end %>
								
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
			<%= paginate @invites, :param_name => "invite_page" %>
		</div>	
		<div class="floatleft">
			<h5>Mis compras</h5>
			<table id="invite_table" class="condensed-table zebra-striped bordered-table">
				<tr>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>Precio</th>
					<th>Status</th>
				</tr>
				<% @exchanges.each do |exchange| %> 
					<tr>
						<td><%= exchange.product.name %></td>
						<td><%= exchange.quantity %></td>
						<td><%= exchange.points %></td>
						<td><%= exchange.status %></td>
					</tr>
				<% end %>
			</table>
			<%= paginate @exchanges, :remote => true, :param_name => "exchange_page" %>
		</div>	
	</div><!-- profile -->
<% end %>

