
<% if !user_signed_in? %>
	<% title "Embajadores Del Voto - Vota fuera de Venezuela" %>
	<div id="left">
		<%= render 'shared/register' %>
	</div>
	
	<div id="righthome">

		<div id="info">
			<div id="step1">
				<h4>Registrate</h4>
				<p>Te registras a nuestra web para crear tu perfil</p>
			</div>
			<div id="step2">
				<h4>Colabora</h4>
				<p>Se un embajador invitando a tus amigos venezolanos a registrarse desde tu perfil</p>
			</div>
			<div id="step3">
				<h4>Gana</h4>
				<p>Por cada amigo que registres ganas 1 punto que luego cambias por <%= link_to'premios', products_path %> </p>
			</div>
		</div>
		
		<div id="video">
			<!-- <iframe width="500" height="284" src="http://www.youtube.com/embed/btlgSAmUtE8?wmode=transparent" frameborder="0" allowfullscreen wmode="opaque"></iframe> -->
			<iframe width="485" height="276" src="http://www.youtube.com/embed/aXVRR5AufDo?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
		</div>
	
		
	</div><!-- righthome -->
	
	
	<div id= "termo_wrapper">	
		<div id="thermometer_container">
			<p>  <%= @registered_count %> Registrados</br><%= @embajador_count %> Embajadores</br> 2000 (Meta Febrero)</p>			
			<div class="bandera">
			  <em id="inv" style="width:<%= (@registered_count/2000.0)*100.0 %>%;"></em>
			  <em id="comf" style="width:<%= (@embajador_count/2000.0)*100.0 %>%;"></em>
			  <em id="emb" style="width:100%;"></em>
			</div><!-- bandera -->
		</div><!-- thermo_cont -->
	</div>

	

	
	<div id="social">
		
		<div id="fb">			
			<div class="fb-like-box" data-href="http://es-es.facebook.com/pages/Embajadores-del-Voto/322811151070229" data-width="350" data-show-faces="true" data-border-color="#EFEEEE" data-stream="true" data-header="false"></div>
		</div>
		
		<div id="twitmod">			
			<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'profile',
			  rpp: 8,
			  interval: 30000,
			  width: 350,
			  height: 470,
			  theme: {
			    shell: {
			      background: '#EFEEEE',
			      color: '#0f00db'
			    },
			    tweets: {
			      background: '#ffffff',
			      color: '#636363',
			      links: '#0c00b8'
			    }
			  },
			  features: {
			    scrollbar: true,
			    loop: false,
			    live: false,
			    behavior: 'all'
			  }
			}).render().setUser('embajadoresvoto').start();
			</script>
		</div>
				
	</div>

<% else %>	
	<% title "Embajadores Del Voto" %>
	<div id="profile">
		<div id="invite_form">
			<h5>Invita a un amigo para acumular puntos</h5>
			<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, :class => "inline"} do |f| %>
			  <%= devise_error_messages! %>
		
			  <p><%= f.label :name %></br>
			  <%= f.text_field :name , :class => "span2 required"%></p>

				<p><%= f.label :lastName %></br>
			  <%= f.text_field :lastName, :class => "span2 required" %></p>

				<p><%= f.label :email %></br>
			  <%= f.text_field :email, :class => "span3 email required" %></p>

			  <p><%= f.submit "Enviar", :class => "btn"  %></p>
			
			<% end %>			

		</div><!-- invite_form -->
		
		<div class="floatleft rmarg">
			<h5>Mis invitados</h5>
			<table id="invite_table" class="condensed-table zebra-striped bordered-table">
				<tr>
					<th>Nombre</th>
					<th>Email</th>
					<th>Status</th>
				</tr>
				<% @invites.each do |invite| %> 
					<tr>
						<td><%= invite.name %> <%= invite.lastName %></td>
						<td><%= invite.email %></td>
						<td>
							<% if invite.comfirmed %>
							
								<% if invite.embajador %>
									Embajador
								<% else %>
									Confirmado
								<% end %>
								
							<% else%>
							
								<% if invite.city == nil %>
									Invitado <%= link_to('Reenviar', user_invitation_path(:user => {:name => invite.name, :lastName => invite.lastName, :email => invite.email }), :method => "post") %>
								<% else%>
									Registrado
								<% end %>
								
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
			<%= paginate @invites, :param_name => "invite_page" %>
		</div>	
		<div class="floatleft">
			<h5>Mis compras</h5>
			<table id="invite_table" class="condensed-table zebra-striped bordered-table">
				<tr>
					<th>Producto</th>
					<th>Cantidad</th>
					<th>Precio</th>
					<th>Status</th>
				</tr>
				<% @exchanges.each do |exchange| %> 
					<tr>
						<td><%= exchange.product.name if exchange.product %></td>
						<td><%= exchange.quantity %></td>
						<td><%= exchange.points %></td>
						<td><%= exchange.status %></td>
					</tr>
				<% end %>
			</table>
			<%= paginate @exchanges, :remote => true, :param_name => "exchange_page" %>
		</div>	
	</div><!-- profile -->
<% end %>

<div id="otroEstado" class="modal hide fade in" style="display: none;">
	<div class="modal-header">
	  <a class="close" data-dismiss="modal">×</a>
	  <h3>Embajador Del Voto</h3>
	</div>
	<div class="modal-body">
	  <h4>Ayudanos a Crecer</h4>
	  <p>Hasta ahora el registro esta limitado a las personas en estados que votan en el consulado de NY.</p>
		<p>Envianos un email a info@embajadoresdelvoto.org si quieres que ser un embajador en otro estado</p>
	</div>
</div>

