<h2>Invita a un amigo</h2>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

	<%= f.input :name, :input_html => { :class => 'span2' } %>
	<%= f.input :lastName, :input_html => { :class => 'span2' } %>
	<%= f.input :email, :input_html => { :class => 'span4' } %>
  <%= f.button :submit, :class => 'btn', :value => "Invitar" %>
<% end %>

<%= link_to "Home", after_sign_in_path_for(resource_name) %><br />
