<p>Puntos: <%= user.points %></p>
<p>Invitado Por: <%= link_to  user.invited_by.name + " " + user.invited_by.lastName, admin_user_path(user.invited_by) if user.invited_by %></p>
<p>Es Embajador? <%= user.embajador %></p>
<p>Administrador de Foro? <%= user.forem_admin %></p>
<p>
	Gente Invitada:
	<% @ass2 = User.where(:invited_by_id => user.id)%>
	<% @ass2.each do |x| %>
		<%= link_to x.name + " " + x.lastName, admin_user_path(x) %>
	<% end %>
</p>

</br>

<% if user.assigned_to_id %>
	<% @ass = User.find(user.assigned_to_id) %>
	<p>Asignado A: <%= link_to @ass.name + " " + @ass.lastName, admin_user_path(@ass)  %></p>
<%end%>


<% if user.staff%>
	<h5>Staff</h5>
	<% @ass2 = User.where(:assigned_to_id => user.id) %>
	<p>
		Gente Asignada:
		 	<% @ass2.each do |x| %>
					<%= link_to x.name + " " + x.lastName, admin_user_path(x) %>
			<% end %>
	</p>
<%end%>