<p id="notice"><%= notice %></p>

<h3>
  <%= @product.name %>
</h3>

<p>
  <%= image_tag @product.image_url(:thumb) if @product.image? %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Cost:</b>
  <%= @product.cost %>
</p>

<!-- <p>
  <b>Quantity:</b>
  <%= @product.quantity %>
</p> -->


<%= link_to 'Back', products_path %>
