<h2>Invita a un amigo</h2>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post,:class => "form-stacked"} do |f| %>
  <%= devise_error_messages! %>
</br>
	<%= f.input :name, :input_html => { :class => 'span2' } %>
	<%= f.input :lastName, :input_html => { :class => 'span2' } %>
	<%= f.input :email, :input_html => { :class => 'span4' } %>
	<br />
  <%= f.button :submit, :class => 'btn', :value => "Invitar" %>
<% end %>
