<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (yield(:title) || "Embajadores Del Voto - Vota fuera de Venezuela") %></title>
    <meta name="description" content="Somos un grupo de jóvenes venezolanos de distintas organizaciones (Voto Joven, MUD, Venmundo, etc.) ubicados en el área de NY. Juntos formamos un movimiento llamado “Embajadores del Voto”, que busca promover el voto en el exterior. ">
    <meta name="author" content="embajadordeselvoto.org">
		<meta name="google-site-verification" content="IQzRMJ0h6xuzyVEP7PJLLJosnTqDWVCQbfT3iJE-qg0" />
		<meta name="google-site-verification" content="YsNJTLVBEK6IfV2RfSMdFzykgEU8Zefk-mkyiQ4cKSI" />
		
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-28600130-1']);
		  _gaq.push(['_setDomainName', 'embajadordelvoto.org']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
  </head>
  <body class="<%= params[:controller] %>">
	
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<div class="topbar">
      <div class="fill">
        <div class="container">
          <%= link_to 'EDV', root_path, :class => "brand" %>
          <ul class="nav">
            <li><%= link_to '¿Quienes Somos?', about_index_path%></li>
            <li><%= link_to 'Informacion Electoral', information_index_path%></li>
            <li><%= link_to 'Contacto', contact_index_path%></li>
          </ul>
          <%= render 'shared/navigation' %>
        </div>
      </div>
    </div>
	
    <div class="container">
			<div class="content">
				<% if !user_signed_in? %>
	        <div class="page-header">
						<div id="MainTitle">
		          <h1><span id="logo">Embajadores</br>Del Voto</span></h1> </br>
		        </div>
						<p class="head">
							Somos un grupo de jóvenes  venezolanos de distintas organizaciones (Voto Joven, MUD, Venmundo, etc.) ubicados en el área de NY. Juntos formamos un movimiento llamado “Embajadores del Voto”, que busca promover el voto en el exterior.
						</p>
					</div>
				<% end %>
				
        <div class="row">
					<% if user_signed_in? %>
	          <div class="span3">
								<div id="miniprofile">
									<p>
										<b><%= link_to current_user.name + " " + current_user.lastName, current_user %></b>	</br>
										<i><%= current_user.city %>, <%= current_user.state.short %></i></br>
									</p>
									<div id="points">
										+ <%= current_user.points %>
									</div>	
								</div> 
								<ul id="pmenu">
							 		<li id="bPerfil"><%= link_to "Inicio", root_path %></li>
									<li id="bDatos"><%= link_to "Mis Datos", current_user %></li>
									<li id="bRed"><%= link_to "Mis Registrados", red_user_path(current_user) %></li>
									<li id="bTienda"><%= link_to "Tienda", products_path %></li>
								</ul>
	          </div>
						<div class="span10">
					<% else %>
						<div class="span14">
					<% end %>
            <!-- <div id="main" role="main" data-pjax-container> -->
						<div id="main" role="main" >
								<div id="statusbar"><%= render :partial => "shared/flash", :locals => {:flash => flash} %></div>
				        <%= yield %>
			      </div>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Embajadores del Voto es una iniciativa de Venezolanos en el Exterior (Venex-NY) Nueva York y Voto Jóven 2011</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
